@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

.primary-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}

.nav-active {
  transition: 0.3s ease-in-out;
  background-color: hsl(var(--white));
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.primary-header picture {
  max-width: u.rem(100);
  margin-top: u.rem(15);
  margin-right: u.rem(50);
}
.logo {
  width: 100%;
}
/**
 * BUTTON
 */
.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 2000;
  right: 1rem;
  top: 1rem;
  background: transparent;
  background-image: url(/images/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
  transition: 0.4s ease-out;

  @include u.breakpoint-up(small) {
    display: none;
  }
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(/images/icon-close-menu.svg);
  transform: rotate(-360deg);
}

.mobile-nav-toggle:focus-visible {
  outline: u.rem(5) solid white;
  outline-offset: u.rem(5);
}
/**
 * NAV
 */
.primary-navigation {
  position: fixed;
  inset: 0;
  width: 100%;
  display: grid;
  z-index: 100;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  @include u.breakpoint-up(small) {
    display: flex;
    position: relative;
    inset: 0;
    transform: translateX(0%);
  }
}
.primary-navigation[data-visible="true"] {
  transform: translateX(0);
}
.col-1 {
  grid-column: span 1/2;
  background-color: hsl(var(--black) / 0.9);
  @include u.breakpoint-up(small) {
    display: none;
  }
}
.col-2 {
  grid-column: span 2/4;
  background-color: hsl(var(--white));
  padding: u.rem(80) u.rem(30) u.rem(0) u.rem(30);
  @include u.breakpoint-up(small) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-column: span 1/4;
    padding: 0;
    background-color: transparent;
  }
}
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: u.rem(20);
  margin-bottom: u.rem(20);
  @include u.breakpoint-up(small) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.nav-menu li a {
  font-size: u.rem(18);
  color: hsl(var(--medium-gray));
  text-decoration: none;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  @include u.breakpoint-up(small) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
/**
 * DROPDOWN MENU
 */
button.accordion {
  border: 0;
  background-color: transparent;
  color: hsl(var(--medium-gray));
  font-size: u.rem(18);
  margin-bottom: u.rem(10);
  &::after {
    content: url("/images/icon-arrow-down.svg");
    margin-left: u.rem(10);
  }
}
.features ul,
.company ul {
  display: none;
  background-color: hsl(var(--white));
  box-shadow: 0;
  border-radius: 0;
  padding: u.rem(10);
  @include u.breakpoint-up(small) {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: u.rem(10);
  }
}
.dropmenu-1 li,
.dropmenu-2 li {
  font-size: u.rem(18);
  color: hsl(var(--medium-gray));
  padding: u.rem(8);
}
.dropmenu-1 li:nth-child(1) {
  &::before {
    content: url("/images/icon-todo.svg");
    padding-right: u.rem(10);
  }
}
.dropmenu-1 li:nth-child(2) {
  &::before {
    content: url("/images/icon-calendar.svg");
    padding-right: u.rem(10);
  }
}
.dropmenu-1 li:nth-child(3) {
  &::before {
    content: url("/images/icon-reminders.svg");
    padding-right: u.rem(10);
  }
}
.dropmenu-1 li:nth-child(4) {
  &::before {
    content: url("/images/icon-planning.svg");
    padding-right: u.rem(10);
  }
}
/**
 * BUTTONS
 */
button.login,
button.register {
  display: flex;
  justify-content: center;
  color: hsl(var(--medium-gray));
  outline: u.rem(2) solid hsl(var(--medium-gray));
  background-color: hsl(var(--white));
  border-radius: u.rem(12);
  transition: 250ms ease-in-out;
  &:hover,
  &:focus {
    color: hsl(var(--black));
  }
}
button.login {
  background-color: transparent;
  outline: 0;
}
